# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/
.env

# Backend ignores
backend/staticfiles/
backend/venv/
backend/ENV/
backend/.env

# Frontend ignores
frontend/node_modules/
frontend/.output/

# Virtualenv
venv/
ENV/

# Coverage
.coverage
htmlcov/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test
.pytest_cache/

# Misc
*.swp
*.swo

# Ignore Postman collection results
*.postman_collection.json